<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/swfobject.js" type="text/javascript"></script>
    <script src="/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/jquery.json-2.3.min.js" type="text/javascript"></script>
    <script src="/scripts.js" type="text/javascript"></script>
    <script type="text/javascript">
     translations = <%= @translations.to_json %>;
     var tmp = <%= @fingerprint.to_json %>;
     for (var i in tmp) fingerprint[i] = tmp[i];
    </script>
    <title><%= @translations['title'] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>

    <div id="flashcontent"></div>

    <div id="content">
      <h1><%= @translations['title'] %></h1>
      <%= @translations['title_info'] %>
    </div>

    <button class="about" onclick="window.location.assign('<%= @translations['switch_language_url'] %>')">
      <%= @translations["switch_language"] %>
    </button>
    <button class="preview" onclick="preview()"><%= @translations["button_preview"] %></button>
    <button class="submit" onclick="submit()"><%= @translations["button_submit"] %></button>

    <div id="response"></div>

    <div id="fingerprint">
      <button class="about" onclick="window.location.assign('<%= @translations['switch_language_url'] %>')">
	<%= @translations["switch_language"] %>
      </button>
      <button class="preview" onclick="preview()"><%= @translations["button_preview"] %></button>
      <button class="submit" onclick="submit()"><%= @translations["button_submit"] %></button>
    </div>

    <div id="count"></div>

<link rel="stylesheet" type="text/css" href="style.css" />
<span class="image">
  <img src="bluebutton.png"/>
  <a href="test2.html">
    <div class="text">
      About
    </div>
  </a>
</span>
<span class="image">
  <img src="orangebutton.png"/>
  <a href="test2.html">
    <div class="text">
      Preview
    </div>
  </a>
</span>
<span class="image">
  <img src="greenbutton.png"/>
  <a href="test2.html">
    <div class="text">
      Submit
    </div>
  </a>
</span>

  </body>
</html>
