<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/swfobject.js" type="text/javascript"></script>
    <script src="/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/jquery.json-2.3.min.js" type="text/javascript"></script>
    <!--[if IE]>
	 <script src="/ie_scripts.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if !IE]><!-->
	 <script src="/scripts.js" type="text/javascript"></script>
    <!--<![endif]-->
    <script type="text/javascript">
     translations = <%= @translations.to_json %>;
     var tmp = <%= @fingerprint.to_json %>;
     for (var i in tmp) fingerprint[i] = tmp[i];
    </script>
    <title><%= @translations['title'] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>

    <div id="flashcontent"></div>

    <div id="content">
      <h1><%= @translations['title'] %></h1>
      <%= @translations['title_info'] %>
    </div>
    
    <span>
      <img class="button" src="<%= @translations['button_switch_language'] %>" onclick="window.location.assign('<%= @translations['switch_language_url'] %>')">
    </span>
    <span>
      <img src="<%= @translations['button_preview'] %>" onclick="preview()" class="button">
    </span>
    <span class="submit">
      <img src="<%= @translations['button_submit'] %>" onclick="submit()" class="button">
    </span>

    <div id="response"></div>

    <div id="fingerprint">
      <span>
	<img src="<%= @translations['button_switch_language']%>" onclick="window.location.assign('<%= @translations['switch_language_url'] %>')" class="button">
      </span>
      <span>
	<img src="<%= @translations['button_hide'] %>" onclick="preview()" class="button">
      </span>
      <span class="submit">
	<img src="<%= @translations['button_submit'] %>" onclick="submit()" class="button">
      </span>
    </div>

    <div id="count"></div>

  </body>
</html>
